body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: grey;
}
.titulo{
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    padding: 1%;
    }
    .publicacion{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-bottom: 30px;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        max-width: 600px; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    /* .publicacion1{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-bottom: 30px;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        max-width: 600px; 
        margin-left: auto;
        margin-right: auto;
    }
    .publicacion2{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-bottom: 30px;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        max-width: 600px; 
        margin-left: auto;
        margin-right: auto;
    }
    .publicacion3{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-bottom: 30px;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        max-width: 600px; 
        margin-left: auto;
        margin-right: auto;
    } */

    h1{
        text-align: center;
    }
    .publicacion-tiutlo h2{
      margin: 0;
      font-size: 16px;
      margin-right: 330px;
    }
    .fecha{
        margin: 0;
        font-size: 16px;
        margin-right: -380px;
        margin-top: -18px;
    }
    .comentario p{
        margin: 0;
        font-size: 16px;
        text-align: center;
        flex-direction: column;
        align-items: center; 
      }